
h1 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.json-input {
  padding-left: 0;
  padding-top: 0;
}

#csv-output {
  margin-right: 400px;
}

textarea {
  width: 500px;
  height: 700px;
}

#submissionButton {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  text-align: center;
  margin-left: 200px;
}


